<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, visitez
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISGEGPublicService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISGEGPrivateService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/SGEGService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISGEGPublicService"
                contract="SGEGService.ISGEGPublicService" name="BasicHttpBinding_ISGEGPublicService" />
            <endpoint address="net.tcp://localhost:8890/SGEGService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISGEGPrivateService" contract="SGEGService.ISGEGPrivateService"
                name="NetTcpBinding_ISGEGPrivateService">
                <identity>
                    <userPrincipalName value="FRED-PC\Utilisateur" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
